[Unit]
Description=Overlay mount for writable /nix/var/nix
DefaultDependencies=no
After=local-fs.target
Before=nix-daemon.socket nix-daemon.service

[Mount]
What=overlay
Where=/nix/var/nix
Type=overlay
Options=lowerdir=/nix/var/nix,upperdir=/var/nix/upper,workdir=/var/nix/work

[Install]
WantedBy=local-fs.target
