[Unit]
Description=Nix Daemon
Documentation=https://nixos.org/manual/nix/stable/
After=local-fs.target
Wants=nix-daemon.socket

[Service]
Environment="NIX_REMOTE=daemon"
ExecStart=/nix/var/nix/profiles/default/bin/nix-daemon --daemon
KillMode=process

[Install]
Also=nix-daemon.socket
WantedBy=multi-user.target
